body{
  font-family:"Open Sans";
  padding-left:10px;
  padding-right:10px;
  margin: 0px 2px 0px 0px !important;
}

.accordion-header {
  /*background-color: #3D7068;
  border-radius: 4px 4px 0px 0px;*/
}

.accordion-item {
  border-color: #273773 !important;
}

.accordion-body {
  background-color: #f8f9fa;
}

.accordion-button:not(.collapsed) {
  color: #273773 !important;
  /*color: white !important;*/
}

.labelTop{
  min-width: fit-content;
  margin-right: 10px;
}

.btnLoad::before{
  content: "▶️ ";
}

.btnSave::before{
  content: "💾 ";
}

.btnClear::before{
  content: "❎ ";
}

.buttonTop{
  margin-left: 5px;
  min-width: fit-content;
}

dialog {
  border-radius: 10px;
  border-width: 1.5px;
  border-color: #273773;
  box-shadow: 5px 5px 5px #273773;
}

#helpDialog {
  width: 600px;
}

.unlock_pass {
  display:none;
}

.sticky{
  position: sticky;
  top:0px;
  z-index:5;
}

.header{
  background-color: #273773 !important;
  padding-top:10px;
  color: white;
}

.general-infos{
  background-color: #caede0 !important;
}

.passwordfield {
  color: #cecece;
}

.row {
  background: #f8f9fa;
  margin-top: 1px;
}

.col {
  /* border: solid 1px #6c757d; */
  padding: 5px;
}
.col-1 {
    /* border: solid 1px #6c757d; */
    padding: 5px;

  text-align:center;
}
input.larger {
  width: 30px;
  height: 30px;
}

.accordion--custom .accordion-header {
  display: flex; /* make flex element */
  align-items: center; /* aligning child items */
  column-gap: 1rem; /* adding gap between items in row */
  padding-left: 1rem;
}

/* small udjustments */
.accordion--custom .accordion-header .accordion-button {
  padding-left: 0;
  background: none;
}

.accordion--custom .accordion-button:not(.collapsed) {
  box-shadow: none;
}

.icon-button{
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding: 2px;
  text-decoration: none;
}

.service_logo {
  width: 32px;
  height: 32px;
}

.gen_pass_service{
  cursor:pointer;
}